
  /* CARD SYSTEM STRUCTURE */

  .page-main > div .card {
    margin: .3rem;    
  }

  .card-custom-head{
    background-color: var(--primaryDark);
  }

  .card-body{
    margin: 0;
    padding: 0rem;
    padding-top: 0;
  }




  .card-custom-head{ /* custom card headers */
    background-color: var(--primaryDark);

    border-top-left-radius: .20rem;
    border-top-right-radius: .20rem;

    min-height: 3rem;
  
  }


  .card-custom-head >div a{

    text-decoration: none;
    color: var(--font);
    margin-inline: .5rem;
    transition: all .5s ease;
    
  }


.ctm-a{
    text-decoration: none;
    color: var(--font);
    transition: all .5s ease;
}

.ctm-a:hover{
    text-decoration: none;
    color: var(--font);
    background-color: var(--complementary);
}

.ctm-a>i{
    padding:.1rem;
}




.card-custom-head >div a:hover{
    font-size: 1.1rem;
    background-color: var(--complementary);
  }
  
  
  

.card-custom-head >div a>i{
    padding:.2rem;
  }

