
  /* CARD SYSTEM STRUCTURE */

  .page-main > div .card {
    margin: .3rem;    
  }

  .card-custom-head{
    background-color: var(--primaryDark);
  }

  .card-body{
    margin: 0;
    padding: 0rem;
    padding-top: 0;
  }



  .card-custom-head{ /* custom card headers */
    background-color: var(--primaryDark);

    border-top-left-radius: .20rem;
    border-top-right-radius: .20rem;

    min-height: 3rem;
  
  }

  .card-custom-head >div{
    padding-top: .5rem;
  }



/* SPECIFIC ADJUSTS FOR HOME */
.page-main > div {
    flex-direction: column;

  }

.user-welcome > .row {
   justify-content: center;
  }


  .grid-card{
    width: 14rem;
    height: 14rem;
    transition: all .5s ease;
}

.grid-card .card-body{
    transition: all .5s ease;
}

.grid-card:hover{
    width: 15rem;
    height: 15rem;
}

.grid-card:hover .card-body{
    background-color: var(--complementary);
    cursor: pointer;
}

.card-patient-img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

