
:root {
    --primary: #BDEAFF;
    --primaryDark: #acd5e7;

    --secondary: #D4F1FF;
    --secondaryDark: #c3ddeb;

    --tertiary: #B6E5FA;
    --tertiaryDark: #aad4e8;

    --complementary: #FADBB6;
    --complementaryDark: #e0c099;

    
    --font: #333333;
    --fontLight: #EEEEEE;
    --fontWhite: #FFFFFF;
    --fontBlack: #000000;
  }



body {
    /*font-family: "Lato", sans-serif;*/
    font-family: "Noto", sans-serif;
}



.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: var(--primary);
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0rem 3rem;
}

@media screen and (max-height: 450px) {.sidenav {padding-top: 15px;} }

@media screen and (max-width: 450px) {
    .login-form{ margin-top: 10%;}

    .register-form{margin-top: 10%;}
}

@media screen and (min-width: 768px){
    .main{margin-left: 40%; }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{margin-top: 80%;}

    .register-form{margin-top: 20%;}
}


.login-main-text{
    margin-top: 10rem;
    padding: 5rem;
    color: var(--font);
}

.login-main-text h2{
    font-weight: 300;
}

.btn-loggin{
    background-color: var(--secondary);
    border: 1px solid;
    border-radius: 5px;

    border-color: var(--primaryDark);
    color: #555555;
}

.btn-loggin:hover{
    background-color: var(--complementary);
    color: #555555;
}




