:root {
    /*--primary: #B4DBF8;*/
    --primary: #BDEAFF;
    --primaryDark: #acd5e7;

    --secondary: #D4F1FF;
    --secondaryDark: #c3ddeb;

    --tertiary: #B6E5FA;
    --tertiaryDark: #aad4e8;

    --complementary: #FADBB6;
    --complementaryDark: #e0c099;

    
    --font: #333333;
    --fontLight: #EEEEEE;
    --fontWhite: #FFFFFF;
    --fontBlack: #000000;

    /*
    --complementary: #FAE1DF;

    --font: #000000;
    --backs: #FFFFFF;*/
  }

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Noto", sans-serif;
}

/* MAIN STRUCTURE */

.page-header{
    border-top: 2px solid;
    border-color: var(--complementary);
  
    background-color: var(--primary);
    min-height: 80px;
    max-height: 100px;
  }
  
  
  
  
  .page-header > div .menu-items{
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-align: center;
  
  }
  
  .page-header .menu-logo{
  
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
  
  }
  
  
  .page-header > div a{
    text-decoration: none;
    color: var(--font);
    margin-inline: .5rem;
    transition: all .5s ease;
  
  }
  
  .page-header > div a:hover{
    font-size: 1.1rem;
    background-color: var(--complementary);
  }
  
  
  
  
  .page-header > div a>i{
    border-radius: 50%;
    padding:.2rem;
  }
  
  
  
  
  .page-header >div .active{
    border-bottom: 2px solid;
    border-color: var(--complementary);
  
  }
  
  
  .main-container {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
     
    .main-container > * {
      padding: 20px;
    }
     
  
    .page-main {
      margin-left: 0;
      padding-left: 0;
      flex-grow: 1;
      
  
    }
  
    .page-main > div {
      width: 100%;
      display: flex;
      padding: 0rem;
  
    }

    
    #patient_new_img{
        object-fit: cover;
    }



    .card-custom-head{
      align-items: center;
    }

    .user-container .card-custom-head >div a{

      text-decoration: none;
      color: var(--font);
      margin-inline: .5rem;
      transition: all .5s ease;
      
    }



    .user-container .card-custom-head >div a:hover:not([disabled]){
      /*font-size: 1.1rem;*/
      background-color: var(--complementary);
    }
    
    
    
  
    .user-container .card-custom-head >div a>i{
      padding:.2rem;
    }
    
    
    .ctm-btn{
      background-color: var(--secondary);
      border: 1px solid;
      border-radius: 5px;

      border-color: var(--secondaryDark);
      color: var(--font);

      transition: all .5s ease;
    }


    .ctm-btn:hover:not([disabled]){
      background-color: var(--complementary);
      border-color: var(--complementaryDark);
      color: var(--fontBlack);
 
    }

    .ctm-btn > i{
      color: var(--font);
    }

    .ctm-btn > span {
      color: var(--font);
    }






    .ctm-btn-imp{
      background-color: var(--tertiary);
      border: 1px solid;
      border-radius: 5px;

      border-color: var(--tertiaryDark);
      color: var(--font);

      transition: all .5s ease;
    }


    .ctm-btn-imp:hover:not([disabled]){
      background-color: var(--complementary);
      border-color: var(--complementaryDark);
      color: var(--fontBlack);
 
    }



    


/* Record buttons */

.container-controls{
  
  background-color: var(--secondary);
  border: 1px solid;
  border-radius: 5px;
  border-color: var(--secondary);

  margin-bottom: 1rem;
}

.record-controls{
  
  background-color: var(--tertiary);
  border: 1px solid;
  border-radius: 5px;

  border-color: var(--tertiaryDark);
  color: var(--font);
  transition: all .5s ease !important;
}

.record-controls span{
  color: var(--font);
  transition: all .5s ease !important;
}

.record-controls:hover:not([disabled]){
  
  background-color: var(--complementary);
  border-color: var(--complementaryDark);
  color: var(--fontWhite);

}

.record-controls:hover span:not([disabled]){
  color: var(--fontBlack);
}




  
/* LOAD SCREN */  
#loadScreen
{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.9);
    z-index: 100;
}

#loadScreen > #loadScreen-container{
  display: flex;
  min-height: 100vh;
}

#loadScreen > #loadScreen-container >div{
  margin: auto;
}

#loadScreen > #loadScreen-container >div div:nth-child(1){
  color: var(--tertiary);
}
#loadScreen > #loadScreen-container >div div:nth-child(2){
  color: var(--fontWhite);
  font-size: 1.4rem;
}



