

#section-main { 
    
    flex-flow: column;
    height: 90%;

}

#section-main > div {
    min-height: 100%;
  }

#div-userData{
    background-color: var(--secondary);
    
    display: flex;
    flex-flow: column;
    align-items: center; /* MIDDLER */

}

#div-userData  button{
    background-color: var(--secondaryDark);
    border-color: var(--primaryDark);
    color: var(--complementary);
}


#div-sessionData{

    display: flex;
    flex-flow: column;
    align-items: center; /* MIDDLER */

}

#div-sessionData div{
    justify-content: center;
}


canvas{
    display: inline !important; 
    min-width: 256px;
    min-height: 256px;

    max-width: 512px;
    max-height: 512px;
}

#patient_img{

    width: 16rem;
    height: 16rem;
    object-fit: cover;
}



  /* CARD SYSTEM STRUCTURE */

  .page-main > div .card {
    margin: .3rem;
  }

  .card-custom-head{
    background-color: var(--primaryDark);
  }

  .card-body{
    margin: 0;
    padding: 0rem;
    padding-top: 0;
  }



  .card-custom-head{ /* custom card headers */
    background-color: var(--primaryDark);

    border-top-left-radius: .20rem;
    border-top-right-radius: .20rem;

    min-height: 3rem;
  
  }



  .user-container .user-img{
    width: 14rem;
    height: 14rem;
    object-fit: cover;
  }

  .user-container  .card-custom-row{
    padding: .5rem;
    margin-top: 1rem;
    margin-top: 1rem;
  }
