

/* MAIN STRUCTURE */

.page-header{
  border-top: 1px solid;
  border-color: var(--complementary);

  background-color: var(--primary);
  min-height: 80px;
  max-height: 100px;
}




.page-header > div .menu-items{
  display: flex;
  flex-direction: row;
  justify-content: end;
  text-align: center;

}

.page-header .menu-logo{

  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;

}


.page-header > div a{
  text-decoration: none;
  color: var(--font);
  margin-inline: .5rem;
  transition: all .5s ease

}

.page-header > div a:hover{
  font-size: 1.1rem;
  background-color: var(--complementary);
}




.page-header > div a>i{
  border-radius: 50%;
  padding:.2rem;
}




.page-header >div .active{
  border-bottom: 2px solid;
  border-color: var(--complementary);

}


.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
   
  .main-container > * {
    padding: 20px;
  }
   

  .page-main {
    margin-left: 0;
    padding-left: 0;
    flex-grow: 1;
    

  }

  .page-main > div {
    width: 100%;
    display: flex;
    
    padding: 0rem;

  }



  /* CARD SYSTEM STRUCTURE */

  .page-main > div .card {
    margin: .3rem;    
  }

  .card-custom-head{
    background-color: var(--primaryDark);
  }

  .card-body{
    margin: 0;
    padding: 0rem;
    padding-top: 0;
  }



  .card-custom-head{ /* custom card headers */
    background-color: var(--primaryDark);

    border-top-left-radius: .20rem;
    border-top-right-radius: .20rem;

    min-height: 3rem;
  
  }



  .user-container .user-img{
    width: 14rem;
    height: 14rem;
    object-fit: cover;
  }

  .user-container  .card-custom-row{
    padding: .5rem;
    margin-top: 1rem;
    margin-top: 1rem;
  }




  /* SPECIFIC STRUCTURE */
    
  .detail-container > .card-body select{
    max-width: 15rem;
  
  }

  #sessionDet_record_video{

    width: 27rem;
    height: 20rem;
  }


 